<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.myoa.dao.attend.AttendSetMapper" >
  <resultMap id="BaseResultMap" type="com.myoa.model.attend.AttendSet" >
    <id column="SID" property="sid" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="UID" property="uid" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="ATIME1_SET" property="atime1Set" jdbcType="VARCHAR" />
    <result column="ATIME1" property="atime1" jdbcType="VARCHAR" />
    <result column="ATIME2_SET" property="atime2Set" jdbcType="VARCHAR" />
    <result column="ATIME2" property="atime2" jdbcType="VARCHAR" />
    <result column="ATIME3_SET" property="atime3Set" jdbcType="VARCHAR" />
    <result column="ATIME3" property="atime3" jdbcType="VARCHAR" />
    <result column="ATIME4_SET" property="atime4Set" jdbcType="VARCHAR" />
    <result column="ATIME4" property="atime4" jdbcType="VARCHAR" />
    <result column="ATIME5_SET" property="atime5Set" jdbcType="VARCHAR" />
    <result column="ATIME5" property="atime5" jdbcType="VARCHAR" />
    <result column="ATIME6_SET" property="atime6Set" jdbcType="VARCHAR" />
    <result column="ATIME6" property="atime6" jdbcType="VARCHAR" />
    <result column="WORKTIME_F" property="worktimeF" jdbcType="VARCHAR" />
    <result column="WORKTIME_B" property="worktimeB" jdbcType="VARCHAR" />
    <result column="WORKAFTER_F" property="workafterF" jdbcType="VARCHAR" />
    <result column="WORKAFTER_B" property="workafterB" jdbcType="VARCHAR" />
    <result column="LOCATION" property="location" jdbcType="VARCHAR" />
    <result column="RANGES" property="ranges" jdbcType="VARCHAR" />
    <result column="IS_OUT" property="isOut" jdbcType="CHAR" />
    <result column="LOCATION_ON" property="locationOn" jdbcType="CHAR" />
    <result column="WIFI_ON" property="wifiOn" jdbcType="CHAR" />
    <result column="WIFI_ADDR" property="wifiAddr" jdbcType="VARCHAR" />
    <result column="WIFI_NAME" property="wifiName" jdbcType="VARCHAR" />
    <result column="WORKDATE" property="workdate" jdbcType="VARCHAR" />
  </resultMap>
   <insert id="addAttendSet" parameterType="com.myoa.model.attend.AttendSet">
     insert into attend_set (SID, UID, TITLE,
     ATIME1_SET, ATIME1, ATIME2_SET,
     ATIME2, ATIME3_SET, ATIME3,
     ATIME4_SET, ATIME4, ATIME5_SET,
     ATIME5, ATIME6_SET, ATIME6,
     WORKTIME_F, WORKTIME_B, WORKAFTER_F,
     WORKAFTER_B, LOCATION, RANGES,
     IS_OUT, LOCATION_ON, WIFI_ON, WIFI_ADDR,
     WIFI_NAME, WORKDATE)
     values (#{sid}, #{uid}, #{title},
     #{atime1Set}, #{atime1}, #{atime2Set},
     #{atime2}, #{atime3Set}, #{atime3},
     #{atime4Set}, #{atime4}, #{atime5Set},
     #{atime5}, #{atime6Set}, #{atime6},
     #{worktimeF}, #{worktimeB}, #{workafterF},
     #{workafterB}, #{location}, #{ranges},
     #{isOut}, #{locationOn}, #{wifiOn}, #{wifiAddr},
     #{wifiName}, #{workdate})
   </insert>
  <update id="updateAttendSet" parameterType="com.myoa.model.attend.AttendSet" >
    update attend_set
    <set >
      <if test="uid != null" >
        UID = #{uid},
      </if>
      <if test="title != null" >
        TITLE = #{title},
      </if>
      <if test="atime1Set != null" >
        ATIME1_SET = #{atime1Set},
      </if>
      <if test="atime1 != null" >
        ATIME1 = #{atime1},
      </if>
      <if test="atime2Set != null" >
        ATIME2_SET = #{atime2Set},
      </if>
      <if test="atime2 != null" >
        ATIME2 = #{atime2},
      </if>
      <if test="atime3Set != null" >
        ATIME3_SET = #{atime3Set},
      </if>
      <if test="atime3 != null" >
        ATIME3 = #{atime3},
      </if>
      <if test="atime4Set != null" >
        ATIME4_SET = #{atime4Set},
      </if>
      <if test="atime4 != null" >
        ATIME4 = #{atime4},
      </if>
      <if test="atime5Set != null" >
        ATIME5_SET = #{atime5Set},
      </if>
      <if test="atime5 != null" >
        ATIME5 = #{atime5},
      </if>
      <if test="atime6Set != null" >
        ATIME6_SET = #{atime6Set},
      </if>
      <if test="atime6 != null" >
        ATIME6 = #{atime6},
      </if>
      <if test="worktimeF != null" >
        WORKTIME_F = #{worktimeF},
      </if>
      <if test="worktimeB != null" >
        WORKTIME_B = #{worktimeB},
      </if>
      <if test="workafterF != null" >
        WORKAFTER_F = #{workafterF},
      </if>
      <if test="workafterB != null" >
        WORKAFTER_B = #{workafterB},
      </if>
      <if test="location != null" >
        LOCATION = #{location},
      </if>
      <if test="ranges != null" >
        RANGES = #{ranges},
      </if>
      <if test="isOut != null" >
        IS_OUT = #{isOut},
      </if>
      <if test="locationOn != null" >
        LOCATION_ON = #{locationOn},
      </if>
      <if test="wifiOn != null" >
        WIFI_ON = #{wifiOn},
      </if>
      <if test="wifiAddr != null" >
        WIFI_ADDR = #{wifiAddr},
      </if>
      <if test="wifiName != null" >
        WIFI_NAME = #{wifiName},
      </if>
      <if test="workdate != null" >
        WORKDATE = #{workdate},
      </if>
    </set>
    where SID = #{sid}
  </update>

  <select id="selectAttendSet" resultMap="BaseResultMap">

   SELECT  s.SID,s.TITLE,s.LOCATION,s.RANGES from attend_set s

  </select>

  <select id="queryAttendSetId" resultMap="BaseResultMap" >
    SELECT  * from attend_set WHERE SID=${sid}
  </select>
  <delete id="delAttendSet">
    delete from attend_set
		where
	    SID=${sid}
</delete>

  <select id="queryAttendSetuId" resultMap="BaseResultMap" >
    SELECT  * from attend_set WHERE UID=${uid}
  </select>

  <select id="selectQuerTop" resultMap="BaseResultMap">
     SELECT   *  from attend_set
  </select>

  <!--根据考勤-->
  <select id="userSelectId" resultMap="BaseResultMap">
    select ue.USER_ID,ats.* FROM  user_ext  ue LEFT JOIN  attend_set  ats  on ue.DUTY_TYPE=ats.SID
  </select>
</mapper>