html,body{
    width:100%;
    height:100%;
    magin:0px;
}
.header{
    z-index: 99;
    border-bottom: 1px solid #9E9E9E;
    height: 45px;
    position: fixed;
    top:0px;
    width:100%;
}
.title{
    margin-left:20px;
}
.workMon{
    font-size:22px;
    font-weight:normal;
    line-height: 45px;
}
.selectNav{
    paddiing-top:45px;
    padding-left:20px;
}
.flowNum,.artNum,#user{
    width:150px;
    border-radius: 3px;
    height:28px;
}
#query,#outport{
    background: #3c92e5 !important;
    border-radius: 4px;
    color: #fff !important;
    padding:3px 10px;
    margin:0px 5px;
}
label{
    font-size:14px;
}
select{
    border-radius: 3px;
}
.M-box3 .active{
    margin: 0px 3px;
    width: 29px;
    height: 29px;
    line-height: 29px;
    background: #2b7fe0;
    font-size: 12px;
    border: 1px solid #2b7fe0;
    color:#fff;
    text-align:center;
    display: inline-block;
}
.M-box3 a{
    margin: 0 3px;
    width: 29px;
    height: 29px;
    line-height: 29px;
    font-size: 12px;
    display: inline-block;
    text-align:center;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    text-decoration: none;
}
.option a{
    padding:0px 3px;
}
.open_title{
    font-size:14px;
    margin:15px 0px;
    background:#f3f3f3;
    border:1px solid #e1e1e8;
    border-radius: 4px;
    padding:5px 16px;
}
.heade{
    font-size:14px;
    font-weight:bold;
    background:#f3f3f3;
    border:1px solid #e1e1e8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding:5px 16px;
    color:#333;
}
.wrap{
    width:100%;
    overflow: hidden;
    border:1px solid #f3f3f3;
    border-top:none;
    margin-left:-1px;
}
.left{
    float:left;
    width:230px;
}
.right{
    float:left;
    width:calc(100% - 232px);
    border:1px solid #f3f3f3;
}
.buData{
    height:50px;
    text-align:center;
    font-size:16px;
    line-height:50px;
    background: #5B7FCB  url("../../../img/workflow/work/add_work/checked.png") no-repeat 20px center;
    color:#fff;
}
/*.right li{
    margin:10px 15px;
    background: #E5EDFE;
    padding:5px;
    height:80px;
    border:1px solid #e2e2e2;
}*/
.chooseUser{
    width:140px;
    float:left;
    line-height:30px;
    font-weight:bold;
    padding-left:5px;
    height:53%;
}
#chooseUser{
    background: url(../../../img/userSelectBtn.png) no-repeat -3px -2px;
    width: 98px!important;
    height: 88px;
    cursor: pointer;
    margin-left: 15px;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-top: 10px;
}
#remind_name,#jingban_name{
    height:28px;
    vertical-align: middle;
    width:200px;
    margin-right:6px;
    background: #B6D7FF;
    border-radius: 4px;
    margin-left:10px;
    line-height: 26px;
    font-size:14px;
}
.jing{
    margin-left:145px;
}
.text{
    margin-left:20px;
}
.text a{
    font-size:14px;
}
.zhu{
    margin-left:145px;
}
.msg_content{
    border:1px solid #e3e3e8;
    border-top:none;
    padding:10px;
    border-radius: 0px 0px 4px 4px;
}
.next{
    float:left;
    margin:5px 40px 5px 0px;
    font-size:14px;
}
.sms-bg-static{
    background: url("/img/images/sms-static.png") no-repeat left center;
    margin-left:9px;
}
.email-bg-static{
    background: url(/img/images/email-static.png) no-repeat left center;
}
.sms-bg-static,.email-bg-static{
    width: 27px;
    height: 16px;
    display: inline-block;
    margin-right: 11px;
    cursor: pointer;
}
.tix_jingban,.tix_con{
    font-size:14px;
}
.tix_jingban textarea{
    width: 376px;
    vertical-align: middle;
    background: #eeeeee;
    cursor:not-allowed;
    border-radius: 4px;
    margin-left:10px;
}
.conText{
    width:580px;
    height:28px;

}
.layui-layer-btn{
    text-align:right!important;
}
.ling,.phone{
    float:left;
    margin-left:10px;
    font-size:15px;
}
.weituo tr td,.weituo tr  th{
    border:1px solid #ccc;
}
.showLing{
    background: url(/img/images/sms.png) no-repeat left center;
}
.showEmail{
    background: url(/img/images/email.png) no-repeat left center;
}
/*.sms-bg-static, .email-bg-static{*/
    /*display: none;*/
/*}*/
.content  table tr:hover{
    background: none;
}
#weituo{
    position: relative;
    padding: 4px 12px;
    margin: 0;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    font-family: Simsun, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    background-color: #f3f3f3;
    border: 1px solid #dcdcdc;
    cursor:pointer;
    border-radius: 2px;
}
#weituoUser{
    cursor:not-allowed;
}
.spantitles {
    position: absolute;
    width: 81px;
    bottom: 14px;
    left: 41px;
    color: #fff;
    font-size: 16px;
    margin-left: 0;
}
.workflow-node-result {
    border: none;
    width: 80%;
    height: 105px;
}
.work-prcs-title, .work-msg-title {
    background-color: #d6e7f8;
    color: #023964;
    font-size: 14px;
    position: relative;
}
.gjtitles {
    height: 30px;
    position: absolute;
    line-height: 30px;
}