@charset "utf-8";
/* CSS Document */
* {
	padding:0px;
	margin:0px;
}
body{ background:#F1F1F1 !important;}
#developTest{
	position:relative;
	float:right;
	width:400px;
	height:auto;
	top:50px;}

.main{
	position:relative;
	width:1042px;
	height:490px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
}
.calendar_div{
	position:relative;
	top:30px;
	float:left;
	width:auto;
	height:340px;
	border:#B7B7B7 solid 1px;
}
.calendar_div .school_calendar_selectDiv{
	position:relative;
	width:auto;
	height:50px;
	background:#4ca0fc;
	font-family:"微软雅黑";
}
.school_calendar{
	position:relative;
	top:0px;
	width:auto;
}
.school_calendar_main{
	height:240px;
	overflow:hidden;}
.school_calendar .school_calendar_main .school_calendar_tab_div{
	position:relative;
	top:0px;
	width:auto;
	height:400px;
	font-family:"微软雅黑";
}

/*2014-09-04新增*/
.school_calendar .up_btn,.down_btn{ position:absolute;  width:75px; height:40px; top:0px; z-index:2;}
.school_calendar .up_btn{ top:30px; left:75px;}
.school_calendar .down_btn{top:250px; left:525px;}
/*2014-09-04新增*/


.calendar_div td[month="1"]{ background:#FFFFFF;}
.calendar_div td[month="3"]{ background:#FFFFFF;}
.calendar_div td[month="5"]{ background:#FFFFFF;}
.calendar_div td[month="7"]{ background:#FFFFFF;}
.calendar_div td[month="9"]{ background:#FFFFFF;}
.calendar_div td[month="11"]{ background:#FFFFFF;}
.calendar_div td[week="6"]{ color:#999999 !important;}
.calendar_div td[week="7"]{ color:#999999 !important;}
.calendar_div td[week="1"]{ color:#333333 !important;}
.calendar_div td[week="2"]{ color:#333333 !important;}
.calendar_div td[week="3"]{ color:#333333 !important;}
.calendar_div td[week="4"]{ color:#333333 !important;}
.calendar_div td[week="5"]{ color:#333333 !important;}
.calendar_div .school_calendar_selectDiv .info{ color:#ffffff; font-family:"微软雅黑"; font-size:18px; font-weight:900;  height:20px; line-height:20px; position:relative; top:15px; left:5px; float:left; width:240px;}
.calendar_div .school_calendar_selectDiv select{ position:relative; float:left; margin-left:5px; top:20px; height:20px; font-family:"微软雅黑"; font-size:14px; line-height:20px; background-color:#ffffff;color:#1d5ba0;margin-top: -6px;border-radius: 6px;}
.calendar_div .school_calendar_selectDiv select option{ font-family:"微软雅黑"; font-size:inherit;color:#1d5ba0;font-size: 14px}
.school_calendar .tabHead{ background:#f2f2f2; color:#094dba;}
.school_calendar .tabHead td{font:"微软雅黑"; color:FFFFFF; font-size:18px; }
.calendar_div table{ position:relative; border: none;	border-collapse: collapse;}
.calendar_div .tb_noselect{ color:#969696 !important; cursor:not-allowed;}
.calendar_div td{font-size:16px; line-height:20px; text-align:center; width:75px; height:35px; cursor:pointer;}
.calendar_div .school_calendar_main .school_calendar_tab *{ z-index:4;}
.calendar_div .school_calendar_main .school_calendar_tab td{font:"微软雅黑";color:#232323; font-size:16px; }
.calendar_div .school_calendar_main .school_calendar_tab .tb_BG{position: relative;	top: 0px; width: 100%; height: 35px; 	line-height: 40px;font-size: 18px; font-family: 微软雅黑;}
.calendar_div .school_calendar_main .school_calendar_tab tr td:first-child{ background:#f2f2f2;color: #999999}
.calendar_div .school_calendar_main .school_calendar_tab .tb_BG1{background-image: url(/img/edu/eduSchoolCalendar/tb_bg1.png);background-position: 22.5px 7px;	background-repeat: no-repeat;}
.calendar_div .school_calendar_main .school_calendar_tab .tb_BGL{background-image: url(/img/edu/eduSchoolCalendar/tb_bga.png);background-position: 22.5px 7px;	background-repeat: no-repeat;}
.calendar_div .school_calendar_main .school_calendar_tab .tb_BGR{background-image: url(/img/edu/eduSchoolCalendar/tb_bgb.png);background-position: -28.5px 7px;	background-repeat: no-repeat;}
.calendar_div .school_calendar_main .school_calendar_tab .tb_BGi{background-image: url(/img/edu/eduSchoolCalendar/tb_bg0.png);background-position: 0px 7px;	background-repeat:repeat-x;}

.calendar_div .school_calendar_main .school_calendar_tab .static_tb_BG1{background-image: url(/img/edu/eduSchoolCalendar/static_tb_bg1.png);background-position: 22.5px 7px;	background-repeat: no-repeat;}
.calendar_div .school_calendar_main .school_calendar_tab .static_tb_BGL{background-image: url(/img/edu/eduSchoolCalendar/static_tb_bga.png);background-position: 22.5px 7px;	background-repeat: no-repeat;}
.calendar_div .school_calendar_main .school_calendar_tab .static_tb_BGR{background-image: url(/img/edu/eduSchoolCalendar/static_tb_bgb.png);background-position: -28.5px 7px;	background-repeat: no-repeat;}
.calendar_div .school_calendar_main .school_calendar_tab .static_tb_BGi{background-image: url(/img/edu/eduSchoolCalendar/static_tb_bg0.png);background-position: 0px 7px;	background-repeat:repeat-x;}

.calendar_div .school_calendar_main .pageUp{ position:absolute; width:75px; height:40px; top:40px; left:75px; z-index:1;}
.calendar_div .school_calendar_main .pageDown{ position:absolute; width:75px; height:40px; top:240px; left:525px; z-index:1;}



.calendar_div tr{ border:none;}

.calendar_div table tr td{ height:40px; border-bottom:#000000 1px;}



#sc_description{ position:absolute; top:0px; left:0px; width:auto; max-width:300px; height:auto; background:#9EE8FF; opacity:0.7; font:"微软雅黑"; font-size:14px; line-height:25px;}

.calendar_div  #year_description_ins{ position:relative; top:11px; height:30px;  line-height:30px; font-family:"微软雅黑"; font-size:16px;}
.calendar_div #year_description{ position:relative; top:11px; height:79px; font-family:"微软雅黑"; font-size:14px; line-height:19px; border:#B7B7B7 solid 1px; left:-1px; width:100%;}
.calendar_div #year_description textarea{ width:604px; height:inherit; resize:none; background:rgba(255,255,255,1.00); border:none; cursor:default; font:"微软雅黑"; font-size:14px;}




.main .calendar_div .Edit_div{ position:absolute; left:637px; width:400px;height:230px; background:#4ca0fc; top:-1px; border:#B7B7B7 solid 1px; overflow:hidden}
.main .calendar_div .Edit_div .info{ position:relative; color:#ffffff; font-family:"微软雅黑"; font-size:18px; font-weight:normal;  height:50px; line-height:20px; width:100%; top:15px; left:5px;margin-left: 10px}
.main .calendar_div .Edit_div .Edit_main{ position:relative; width:100%; height:100%; background:#FFFFFF;}
.main .calendar_div .Edit_div .Edit_main input{ width:80px;}
.main .calendar_div .Edit_div .Edit_main input[type='radio']{ width:20px;}
.main .calendar_div .Edit_div table{ margin-left:20px;}
.main .calendar_div .Edit_div tr td{ height:30px; font-family:"微软雅黑"; font-size:14px; line-height:22px;}
.main .calendar_div .Edit_div tr td:first-child{ text-align:left; width:80px;}
.main .calendar_div .Edit_div tr td:last-child{ width:280px; text-align:left;}
.main .calendar_div .Edit_div tr:last-child{ height:50px; vertical-align:top;}
.main .calendar_div .Edit_div tr #edit_description{ height:50px; width:280px; resize:none;}
.main .calendar_div .Edit_div table tr .btn_div{ margin-top:5px; width:360px; height:25px;}
.main .calendar_div .Edit_div input[type='button']{ position:relative; float:right; margin-right:50px; border:none; color:#ffffff; font:"微软雅黑"; font-size:16px; background:#4ca0fc; height:28px; line-height:20px; font-weight:500; cursor:pointer;}
.main .calendar_div .Edit_div input[type='button']:hover{ font-weight:800; border:#D8D8D8 solid 1px;}


.main .calendar_div .this_month_event{ position:absolute; left:637px; top:260px; width:400px; height:190px; background:#FFFFFF; overflow-y:scroll; overflow-x:hidden; border:#B7B7B7 solid 1px}
.main .calendar_div .this_month_event table{ table-layout:fixed; width:383px;}
.main .calendar_div .this_month_event table tr td{ border:#c2e7f9 solid 1px; font-family:"微软雅黑"; font-size:14px;	text-overflow:ellipsis; white-space:nowrap; overflow:hidden; cursor:default;}
.main .calendar_div .this_month_event table tr:first-child{ background:#4ca0fc;}
.main .calendar_div .this_month_event table tr:first-child td{ font-size:16px !important; color:#FFFFFF;}
.main .calendar_div .this_month_event table tr td:first-child{ width:45px !important;}
.main .calendar_div .this_month_event table tr td:nth-child(2){ width:70px !important;}
.main .calendar_div .this_month_event table tr td:nth-child(3){ width:100px !important;}
.main .calendar_div .this_month_event table tr td:nth-child(4){ width:100px !important;}
.main .calendar_div .this_month_event table tr td:nth-child(4){ width:80px !important;}
.main .calendar_div .this_month_event .edit_btn{ color:#1772C0; cursor:pointer;}
.main .calendar_div .this_month_event .del_btn{ color:#E01919; cursor:pointer;}

.noselect{/*----------------------------------------------禁止选中-----------------*/

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}