<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myoa.dao.WFE.WFEFlowProcessMapper">
    <resultMap id="BaseResultMap" type="com.myoa.model.workflow.FlowProcess">
        <id column="ID" javaType="INTEGER" property="id"/>
        <result column="FLOW_ID" property="flowId" javaType="int"/>
        <result column="PRCS_ID" property="prcsId" javaType="int"/>
        <result column="PRCS_TYPE" property="prcsType" javaType="byte"/>
        <result column="PRCS_NAME" property="prcsName" javaType="string"/>
        <result column="SET_LEFT" property="setLeft" javaType="int"/>
        <result column="SET_TOP" property="setTop" javaType="int"/>
        <result column="FEEDBACK" property="feedback" javaType="string"/>
        <result column="AUTO_TYPE" property="autoType" javaType="string"/>
        <result column="USER_FILTER" property="userFilter" javaType="string"/>
        <result column="TIME_OUT" property="timeOut" javaType="string"/>
        <result column="TIME_OUT_MODIFY" property="timeOutModify" javaType="string"/>
        <result column="TIME_OUT_ATTEND" property="timeOutAttend" javaType="string"/>
        <result column="SIGNLOOK" property="signlook" javaType="string"/>
        <result column="TOP_DEFAULT" property="topDefault" javaType="string"/>
        <result column="USER_LOCK" property="userLock" javaType="string"/>
        <result column="SYNC_DEAL" property="syncDeal" javaType="string"/>
        <result column="SYNC_DEAL_CHECK" property="syncDealCheck" javaType="string"/>
        <result column="TURN_PRIV" property="turnPriv" javaType="string"/>
        <result column="CHILD_FLOW" property="childFlow" javaType="int"/>
        <result column="GATHER_NODE" property="gatherNode" javaType="string"/>
        <result column="ALLOW_BACK" property="allowBack" javaType="string"/>
        <result column="ATTACH_PRIV" property="attachPriv" javaType="string"/>
        <result column="AUTO_BASE_USER" property="autoBaseUser" javaType="int"/>
        <result column="REMIND_FLAG" property="remindFlag" javaType="int"/>
        <result column="DISP_AIP" property="dispAip" javaType="int"/>
        <result column="TIME_OUT_TYPE" property="timeOutType" javaType="string"/>
        <result column="ATTACH_EDIT_PRIV" property="attachEditPriv" javaType="string"/>
        <result column="ATTACH_EDIT_PRIV_ONLINE" property="attachEditPrivOnline" javaType="string"/>
        <result column="ATTACH_MACRO_MARK" property="attachMacroMark" javaType="string"/>
        <result column="VIEW_PRIV" javaType="int" property="viewPriv"/>
        <result column="SIGN_TYPE" javaType="int" property="signType"/>
        <result column="COUNTERSIGN" javaType="int" property="countersign"/>
        <result column="WORKINGDAYS_TYPE" javaType="string" property="workingdaysType"/>
        <result column="PRCS_USER" javaType="string" property="prcsUser"/>
        <result column="PRCS_ITEM" javaType="string" property="prcsItem"/>
        <result column="HIDDEN_ITEM" javaType="string" property="hiddenItem"/>
        <result column="REQUIRED_ITEM" javaType="string" property="requiredItem"/>
        <result column="PRCS_DEPT" javaType="string" property="prcsDept"/>
        <result column="PRCS_PRIV" javaType="string" property="prcsPriv"/>
        <result column="PRCS_TO" javaType="string" property="prcsTo"/>
        <result column="PLUGIN" javaType="string" property="plugin"/>
        <result column="PLUGIN_SAVE" javaType="java.lang.String" property="pluginSave"/>
        <result column="PRCS_ITEM_AUTO" javaType="string" property="prcsItemAuto"/>
        <result column="PRCS_IN" javaType="string" property="prcsIn"/>
        <result column="PRCS_OUT" javaType="string" property="prcsOut"/>
        <result column="PRCS_IN_SET" javaType="string" property="prcsInSet"/>
        <result column="PRCS_OUT_SET" javaType="string" property="prcsOutSet"/>
        <result column="AUTO_DEPT" javaType="string" property="autoDept"/>
        <result column="AUTO_USER_OP" javaType="string" property="autoUserOp"/>
        <result column="AUTO_USER" javaType="string" property="autoUser"/>
        <result column="AUTO_USER_OP_RETURN" javaType="string" property="autoUserOpReturn"/>
        <result column="AUTO_USER_RETURN" javaType="string" property="autoUserReturn"/>
        <result column="USER_FILTER_PRCS_PRIV" javaType="string" property="userFilterPrcsPriv"/>
        <result column="USER_FILTER_PRCS_PRIV_OTHER" javaType="string" property="userFilterPrcsPrivOther"/>
        <result column="USER_FILTER_PRCS_DEPT" javaType="string" property="userFilterPrcsDept"/>
        <result column="USER_FILTER_PRCS_DEPT_OTHER" javaType="string" property="userFilterPrcsDeptOther"/>
        <result column="MAIL_TO" javaType="string" property="mailTo"/>
        <result column="MAIL_TO_DEPT" javaType="string" property="mailToDept"/>
        <result column="MAIL_TO_PRIV" javaType="string" property="mailToPriv"/>
        <result column="CONDITION_DESC" javaType="string" property="conditionDesc"/>
        <result column="RELATION_IN" javaType="string" property="relationIn"/>
        <result column="RELATION_OUT" javaType="string" property="relationOut"/>
        <result column="CONTROL_MODE" javaType="string" property="controlMode"/>
        <result column="LIST_COLUMN_PRIV" javaType="string" property="listColumnPriv"/>
        <result column="FILEUPLOAD_PRIV" javaType="string" property="fileuploadPriv"/>
        <result column="IMGUPLOAD_PRIV" javaType="string" property="imguploadPriv"/>
        <result column="DOCUMENT_EDIT_PRIV" property="documentEditPriv" javaType="int"/>
        <result column="DOCUMENT_EDIT_PRIV_DETAIL" property="documentEditPrivDetail" javaType="string"/>
        <!-- 关联其他表 -->
        <association property="flowTypeModel" column="FLOW_ID" javaType="com.myoa.model.workflow.FlowTypeModel" >
            <id column="FLOW_ID" property="flowId" javaType="java.lang.Integer" />
            <result column="FLOW_NAME" property="flowName" javaType="java.lang.String" />
            <result column="FORM_ID" property="formId" javaType="java.lang.Integer" />
        </association>

    </resultMap>

    <select id="findFlowId" resultMap="BaseResultMap">
        select * from flow_process where FLOW_ID=#{flowId} order BY PRCS_ID
    </select>

  <select id="find" parameterType="Map" resultMap="BaseResultMap">
  select * from flow_process where  ID = #{id} 
  </select>

  <select id="findbyprcsId" parameterType="Map" resultMap="BaseResultMap">
  select * from flow_process where  FLOW_ID=#{flowId} and PRCS_ID=#{prcsId}
  </select>

    <select id="findF" resultMap="BaseResultMap">
           SELECT
            a.*,
            b.FORM_ID,
            b.FLOW_NAME
        FROM
            flow_process a
            INNER JOIN
            flow_type b
        ON a.FLOW_ID = b.FLOW_ID
        WHERE
            b.FLOW_ID =#{flowId}
</select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from flow_process
        where ID = #{id}
    </delete>
    <!-- 新建流程 -->
    <insert id="insert" parameterType="com.myoa.model.workflow.FlowProcess" useGeneratedKeys="true" keyProperty="id">
        INSERT  INTO flow_process(FLOW_ID,PRCS_ID,PRCS_TYPE,PRCS_NAME,SET_LEFT,SET_TOP,FEEDBACK,AUTO_TYPE,USER_FILTER,
        TIME_OUT,TIME_OUT_MODIFY,TIME_OUT_ATTEND,SIGNLOOK,TOP_DEFAULT,USER_LOCK,SYNC_DEAL,SYNC_DEAL_CHECK,TURN_PRIV,
        CHILD_FLOW,GATHER_NODE,ALLOW_BACK,ATTACH_PRIV,AUTO_BASE_USER,REMIND_FLAG,DISP_AIP,TIME_OUT_TYPE,ATTACH_EDIT_PRIV,
        ATTACH_EDIT_PRIV_ONLINE,ATTACH_MACRO_MARK,VIEW_PRIV,SIGN_TYPE,COUNTERSIGN,WORKINGDAYS_TYPE,PRCS_USER,PRCS_ITEM,
        HIDDEN_ITEM,REQUIRED_ITEM,PRCS_DEPT,PRCS_PRIV,PRCS_TO,PLUGIN,PLUGIN_SAVE,PRCS_ITEM_AUTO,PRCS_IN,PRCS_OUT,
        PRCS_IN_SET,PRCS_OUT_SET,AUTO_DEPT,AUTO_USER_OP,AUTO_USER,AUTO_USER_OP_RETURN,AUTO_USER_RETURN,USER_FILTER_PRCS_PRIV,
        USER_FILTER_PRCS_PRIV_OTHER,USER_FILTER_PRCS_DEPT,USER_FILTER_PRCS_DEPT_OTHER,MAIL_TO,MAIL_TO_DEPT,MAIL_TO_PRIV,
        CONDITION_DESC,RELATION_IN,RELATION_OUT,CONTROL_MODE,LIST_COLUMN_PRIV,FILEUPLOAD_PRIV,IMGUPLOAD_PRIV)
        VALUES
        (
        #{flowId},
        #{prcsId},
        #{prcsType},
        #{prcsName},#{setLeft},#{setTop},#{feedback},
        #{autoType},
        #{userFilter},
        #{timeOut},
        #{timeOutModify},
        #{timeOutAttend},
        #{signlook},
        #{topDefault},
        #{userLock},
        #{syncDeal},
        #{syncDealCheck},
        #{turnPriv},
        #{childFlow},
        #{gatherNode},
        #{allowBack},
        #{attachPriv},
        #{autoBaseUser},
        #{remindFlag},
        #{dispAip},
        #{timeOutType},
        #{attachEditPriv},
        #{attachEditPrivOnline},
        #{attachMacroMark},
        #{viewPriv},
        #{signType},
        #{countersign},
        #{workingdaysType},
        #{prcsUser},
        #{prcsItem},
        #{hiddenItem},
        #{requiredItem},
        #{prcsDept},
        #{prcsPriv},
        #{prcsTo},
        #{plugin},
        #{pluginSave},
        #{prcsItemAuto},
        #{prcsIn},
        #{prcsOut},
        #{prcsInSet},
        #{prcsOutSet},
        #{autoDept},
        #{autoUserOp},
        #{autoUser},
        #{autoUserOpReturn},
        #{autoUserReturn},
        #{userFilterPrcsPriv},
        #{userFilterPrcsPrivOther},
        #{userFilterPrcsDept},
        #{userFilterPrcsDeptOther},
        #{mailTo},
        #{mailToDept},
        #{mailToPriv},
        #{conditionDesc},
        #{relationIn},
        #{relationOut},
        #{controlMode},
        #{listColumnPriv},
        #{fileuploadPriv},
        #{imguploadPriv}
        )
    </insert>
   <sql id="updateSql">
       update flow_process
       <set>
           <if test="flowId != null and flowId!='' ">
               FLOW_ID = #{flowId},
           </if>
           <if test="prcsId != null and prcsId!='' ">
               PRCS_ID = #{prcsId},
           </if>
           <if test="prcsType != null and prcsType!='' ">
               PRCS_TYPE = #{prcsType},
           </if>
           <if test="prcsName != null and prcsName!='' ">
               PRCS_NAME = #{prcsName},
           </if>
           <if test="setLeft != null and setLeft!='' ">
               SET_LEFT = #{setLeft},
           </if>
           <if test="setTop != null and setTop!='' ">
               SET_TOP = #{setTop},
           </if>
           <if test="feedback != null ">
               FEEDBACK = #{feedback},
           </if>
           <if test="autoType != null">
               AUTO_TYPE = #{autoType},
           </if>
           <if test="userFilter != null">
               USER_FILTER = #{userFilter},
           </if>
           <if test="timeOut != null ">
               TIME_OUT = #{timeOut},
           </if>
           <if test="timeOutModify != null">
               TIME_OUT_MODIFY = #{timeOutModify},
           </if>
           <if test="timeOutAttend != null">
               TIME_OUT_ATTEND = #{timeOutAttend},
           </if>
           <if test="signlook != null ">
               SIGNLOOK = #{signlook},
           </if>
           <if test="topDefault != null ">
               TOP_DEFAULT = #{topDefault},
           </if>
           <if test="userLock != null ">
               USER_LOCK = #{userLock},
           </if>
           <if test="syncDeal != null">
               SYNC_DEAL = #{syncDeal},
           </if>
           <if test="syncDealCheck != null ">
               SYNC_DEAL_CHECK = #{syncDealCheck},
           </if>
           <if test="turnPriv != null ">
               TURN_PRIV = #{turnPriv},
           </if>
           <if test="childFlow != null ">
               CHILD_FLOW = #{childFlow},
           </if>
           <if test="gatherNode != null ">
               GATHER_NODE = #{gatherNode},
           </if>
           <if test="allowBack != null ">
               ALLOW_BACK = #{allowBack},
           </if>
           <if test="attachPriv != null ">
               ATTACH_PRIV = #{attachPriv},
           </if>
           <if test="autoBaseUser != null ">
               AUTO_BASE_USER = #{autoBaseUser},
           </if>
           <if test="remindFlag != null ">
               REMIND_FLAG = #{remindFlag},
           </if>
           <if test="dispAip != null ">
               DISP_AIP = #{dispAip},
           </if>
           <if test="timeOutType != null ">
               TIME_OUT_TYPE = #{timeOutType},
           </if>
           <if test="attachEditPriv != null ">
               ATTACH_EDIT_PRIV = #{attachEditPriv},
           </if>
           <if test="attachEditPrivOnline != null ">
               ATTACH_EDIT_PRIV_ONLINE = #{attachEditPrivOnline},
           </if>
           <if test="attachMacroMark != null">
               ATTACH_MACRO_MARK = #{attachMacroMark},
           </if>
           <if test="viewPriv != null ">
               VIEW_PRIV = #{viewPriv},
           </if>
           <if test="signType != null ">
               SIGN_TYPE = #{signType},
           </if>
           <if test="countersign != null ">
               COUNTERSIGN = #{countersign},
           </if>
           <if test="workingdaysType != null ">
               WORKINGDAYS_TYPE = #{workingdaysType},
           </if>
           <if test="prcsUser != null ">
               PRCS_USER = #{prcsUser},
           </if>
           <if test="prcsItem != null ">
               PRCS_ITEM = #{prcsItem},
           </if>
           <if test="hiddenItem != null ">
               HIDDEN_ITEM = #{hiddenItem},
           </if>
           <if test="requiredItem != null ">
               REQUIRED_ITEM = #{requiredItem},
           </if>
           <if test="prcsDept != null ">
               PRCS_DEPT = #{prcsDept},
           </if>
           <if test="prcsPriv != null ">
               PRCS_PRIV = #{prcsPriv},
           </if>
           <if test="prcsTo != null">
               PRCS_TO = #{prcsTo},
           </if>
           <if test="plugin != null ">
               PLUGIN = #{plugin},
           </if>
           <if test="pluginSave != null ">
               PLUGIN_SAVE = #{pluginSave},
           </if>
           <if test="prcsItemAuto != null ">
               PRCS_ITEM_AUTO = #{prcsItemAuto},
           </if>
           <if test="prcsIn != null ">
               PRCS_IN = #{prcsIn},
           </if>
           <if test="prcsOut != null ">
               PRCS_OUT = #{prcsOut},
           </if>
           <if test="prcsInSet != null ">
               PRCS_IN_SET = #{prcsInSet},
           </if>
           <if test="prcsOutSet != null ">
               PRCS_OUT_SET = #{prcsOutSet},
           </if>
           <if test="autoDept != null ">
               AUTO_DEPT = #{autoDept},
           </if>
           <if test="autoUserOp != null ">
               AUTO_USER_OP = #{autoUserOp},
           </if>
           <if test="autoUser != null ">
               AUTO_USER = #{autoUser},
           </if>
           <if test="autoUserOpReturn != null ">
               AUTO_USER_OP_RETURN = #{autoUserOpReturn},
           </if>
           <if test="autoUserReturn != null ">
               AUTO_USER_RETURN = #{autoUserReturn},
           </if>
           <if test="userFilterPrcsPriv != null ">
               USER_FILTER_PRCS_PRIV = #{userFilterPrcsPriv},
           </if>
           <if test="userFilterPrcsPrivOther != null ">
               USER_FILTER_PRCS_PRIV_OTHER = #{userFilterPrcsPrivOther},
           </if>
           <if test="userFilterPrcsDept != null ">
               USER_FILTER_PRCS_DEPT = #{userFilterPrcsDept},
           </if>
           <if test="userFilterPrcsDeptOther != null ">
               USER_FILTER_PRCS_DEPT_OTHER = #{userFilterPrcsDeptOther},
           </if>
           <if test="mailTo != null ">
               MAIL_TO = #{mailTo},
           </if>
           <if test="mailToDept != null ">
               MAIL_TO_DEPT = #{mailToDept},
           </if>
           <if test="mailToPriv != null ">
               MAIL_TO_PRIV = #{mailToPriv},
           </if>
           <if test="conditionDesc != null ">
               CONDITION_DESC = #{conditionDesc},
           </if>
           <if test="relationIn != null ">
               RELATION_IN = #{relationIn},
           </if>
           <if test="relationOut != null ">
               RELATION_OUT = #{relationOut},
           </if>
           <if test="controlMode != null">
               CONTROL_MODE = #{controlMode},
           </if>
           <if test="listColumnPriv != null ">
               LIST_COLUMN_PRIV = #{listColumnPriv},
           </if>
           <if test="fileuploadPriv != null ">
               FILEUPLOAD_PRIV = #{fileuploadPriv},
           </if>
           <if test="imguploadPriv != null ">
               IMGUPLOAD_PRIV = #{imguploadPriv},
           </if>
           <if test="documentEditPriv!=null">
               DOCUMENT_EDIT_PRIV=#{documentEditPriv},
           </if>
           <if test="documentEditPrivDetail!=null">
               DOCUMENT_EDIT_PRIV_DETAIL=#{documentEditPrivDetail},
           </if>
       </set>
   </sql>
    <!-- 修改流程节点 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.myoa.model.workflow.FlowProcess">
        <include refid="updateSql"/>
        <!--update flow_process-->
        <!--<set>-->
            <!--<if test="flowId != null and flowId!=''">-->
                <!--FLOW_ID = #{flowId},-->
            <!--</if>-->
            <!--<if test="prcsId != null and prcsId!=''">-->
                <!--PRCS_ID = #{prcsId},-->
            <!--</if>-->
            <!--<if test="prcsType != null and prcsType!=''">-->
                <!--PRCS_TYPE = #{prcsType},-->
            <!--</if>-->
            <!--<if test="prcsName != null and prcsName!=''">-->
                <!--PRCS_NAME = #{prcsName},-->
            <!--</if>-->
            <!--<if test="setLeft != null and setLeft!=''">-->
                <!--SET_LEFT = #{setLeft},-->
            <!--</if>-->
            <!--<if test="setTop != null and setTop!=''">-->
                <!--SET_TOP = #{setTop},-->
            <!--</if>-->
            <!--<if test="feedback != null and feedback!=''">-->
                <!--FEEDBACK = #{feedback},-->
            <!--</if>-->
            <!--<if test="autoType != null and autoType!=''">-->
                <!--AUTO_TYPE = #{autoType},-->
            <!--</if>-->
            <!--<if test="userFilter != null and userFilter != ''">-->
                <!--USER_FILTER = #{userFilter},-->
            <!--</if>-->
            <!--<if test="timeOut != null and timeOut!=''">-->
                <!--TIME_OUT = #{timeOut},-->
            <!--</if>-->
            <!--<if test="timeOutModify != null and timeOutModify !=''">-->
                <!--TIME_OUT_MODIFY = #{timeOutModify},-->
            <!--</if>-->
            <!--<if test="timeOutAttend != null and timeOutAttend != ''">-->
                <!--TIME_OUT_ATTEND = #{timeOutAttend},-->
            <!--</if>-->
            <!--<if test="signlook != null and signlook != ''">-->
                <!--SIGNLOOK = #{signlook},-->
            <!--</if>-->
            <!--<if test="topDefault != null and topDefault !=''">-->
                <!--TOP_DEFAULT = #{topDefault},-->
            <!--</if>-->
            <!--<if test="userLock != null and userLock != ''">-->
                <!--USER_LOCK = #{userLock},-->
            <!--</if>-->
            <!--<if test="syncDeal != null and syncDeal != ''">-->
                <!--SYNC_DEAL = #{syncDeal},-->
            <!--</if>-->
            <!--<if test="syncDealCheck != null and syncDealCheck != ''">-->
                <!--SYNC_DEAL_CHECK = #{syncDealCheck},-->
            <!--</if>-->
            <!--<if test="turnPriv != null and turnPriv != ''">-->
                <!--TURN_PRIV = #{turnPriv},-->
            <!--</if>-->
            <!--<if test="childFlow != null and childFlow != ''">-->
                <!--CHILD_FLOW = #{childFlow},-->
            <!--</if>-->
            <!--<if test="gatherNode != null and gatherNode != ''">-->
                <!--GATHER_NODE = #{gatherNode},-->
            <!--</if>-->
            <!--<if test="allowBack != null and allowBack != ''">-->
                <!--ALLOW_BACK = #{allowBack},-->
            <!--</if>-->
            <!--<if test="attachPriv != null and attachPriv != ''">-->
                <!--ATTACH_PRIV = #{attachPriv},-->
            <!--</if>-->
            <!--<if test="autoBaseUser != null and autoBaseUser != ''">-->
                <!--AUTO_BASE_USER = #{autoBaseUser},-->
            <!--</if>-->
            <!--<if test="remindFlag != null and remindFlag != ''">-->
                <!--REMIND_FLAG = #{remindFlag},-->
            <!--</if>-->
            <!--<if test="dispAip != null and dispAip != ''">-->
                <!--DISP_AIP = #{dispAip},-->
            <!--</if>-->
            <!--<if test="timeOutType != null and timeOutType != ''">-->
                <!--TIME_OUT_TYPE = #{timeOutType},-->
            <!--</if>-->
            <!--<if test="attachEditPriv != null and attachEditPriv != ''">-->
                <!--ATTACH_EDIT_PRIV = #{attachEditPriv},-->
            <!--</if>-->
            <!--<if test="attachEditPrivOnline != null and attachEditPrivOnline != ''">-->
                <!--ATTACH_EDIT_PRIV_ONLINE = #{attachEditPrivOnline},-->
            <!--</if>-->
            <!--<if test="attachMacroMark != null and attachMacroMark != ''">-->
                <!--ATTACH_MACRO_MARK = #{attachMacroMark},-->
            <!--</if>-->
            <!--<if test="viewPriv != null and viewPriv != ''">-->
                <!--VIEW_PRIV = #{viewPriv},-->
            <!--</if>-->
            <!--<if test="signType != null and signType != ''">-->
                <!--SIGN_TYPE = #{signType},-->
            <!--</if>-->
            <!--<if test="countersign != null and countersign != ''">-->
                <!--COUNTERSIGN = #{countersign},-->
            <!--</if>-->
            <!--<if test="workingdaysType != null and workingdaysType != ''">-->
                <!--WORKINGDAYS_TYPE = #{workingdaysType},-->
            <!--</if>-->
            <!--<if test="prcsUser != null and prcsUser != ''">-->
                <!--PRCS_USER = #{prcsUser},-->
            <!--</if>-->
            <!--<if test="prcsItem != null and prcsItem != ''">-->
                <!--PRCS_ITEM = #{prcsItem},-->
            <!--</if>-->
            <!--<if test="hiddenItem != null and hiddenItem != ''">-->
                <!--HIDDEN_ITEM = #{hiddenItem},-->
            <!--</if>-->
            <!--<if test="requiredItem != null and requiredItem != ''">-->
                <!--REQUIRED_ITEM = #{requiredItem},-->
            <!--</if>-->
            <!--<if test="prcsDept != null and prcsDept != ''">-->
                <!--PRCS_DEPT = #{prcsDept},-->
            <!--</if>-->
            <!--<if test="prcsPriv != null and prcsPriv != ''">-->
                <!--PRCS_PRIV = #{prcsPriv},-->
            <!--</if>-->
            <!--<if test="prcsTo != null and prcsTo != ''">-->
                <!--PRCS_TO = #{prcsTo},-->
            <!--</if>-->
            <!--<if test="plugin != null and plugin != ''">-->
                <!--PLUGIN = #{plugin},-->
            <!--</if>-->
            <!--<if test="pluginSave != null and pluginSave != ''">-->
                <!--PLUGIN_SAVE = #{pluginSave},-->
            <!--</if>-->
            <!--<if test="prcsItemAuto != null and prcsItemAuto != ''">-->
                <!--PRCS_ITEM_AUTO = #{prcsItemAuto},-->
            <!--</if>-->
            <!--<if test="prcsIn != null and prcsIn != ''">-->
                <!--PRCS_IN = #{prcsIn},-->
            <!--</if>-->
            <!--<if test="prcsOut != null and prcsOut != ''">-->
                <!--PRCS_OUT = #{prcsOut},-->
            <!--</if>-->
            <!--<if test="prcsInSet != null and prcsInSet != ''">-->
                <!--PRCS_IN_SET = #{prcsInSet},-->
            <!--</if>-->
            <!--<if test="prcsOutSet != null and prcsOutSet != ''">-->
                <!--PRCS_OUT_SET = #{prcsOutSet},-->
            <!--</if>-->
            <!--<if test="autoDept != null and autoDept != ''">-->
                <!--AUTO_DEPT = #{autoDept},-->
            <!--</if>-->
            <!--<if test="autoUserOp != null and autoUserOp != ''">-->
                <!--AUTO_USER_OP = #{autoUserOp},-->
            <!--</if>-->
            <!--<if test="autoUser != null and  autoUser != ''">-->
                <!--AUTO_USER = #{autoUser},-->
            <!--</if>-->
            <!--<if test="autoUserOpReturn != null and autoUserOpReturn != ''">-->
                <!--AUTO_USER_OP_RETURN = #{autoUserOpReturn},-->
            <!--</if>-->
            <!--<if test="autoUserReturn != null and autoUserReturn != ''">-->
                <!--AUTO_USER_RETURN = #{autoUserReturn},-->
            <!--</if>-->
            <!--<if test="userFilterPrcsPriv != null and userFilterPrcsPriv != ''">-->
                <!--USER_FILTER_PRCS_PRIV = #{userFilterPrcsPriv},-->
            <!--</if>-->
            <!--<if test="userFilterPrcsPrivOther != null and userFilterPrcsPrivOther != ''">-->
                <!--USER_FILTER_PRCS_PRIV_OTHER = #{userFilterPrcsPrivOther},-->
            <!--</if>-->
            <!--<if test="userFilterPrcsDept != null and userFilterPrcsDept != ''">-->
                <!--USER_FILTER_PRCS_DEPT = #{userFilterPrcsDept},-->
            <!--</if>-->
            <!--<if test="userFilterPrcsDeptOther != null and userFilterPrcsDeptOther != ''">-->
                <!--USER_FILTER_PRCS_DEPT_OTHER = #{userFilterPrcsDeptOther},-->
            <!--</if>-->
            <!--<if test="mailTo != null and mailTo != ''">-->
                <!--MAIL_TO = #{mailTo},-->
            <!--</if>-->
            <!--<if test="mailToDept != null and mailToDept != ''">-->
                <!--MAIL_TO_DEPT = #{mailToDept},-->
            <!--</if>-->
            <!--<if test="mailToPriv != null and mailToPriv != ''">-->
                <!--MAIL_TO_PRIV = #{mailToPriv},-->
            <!--</if>-->
            <!--<if test="conditionDesc != null and conditionDesc != ''">-->
                <!--CONDITION_DESC = #{conditionDesc},-->
            <!--</if>-->
            <!--<if test="relationIn != null and relationIn != ''">-->
                <!--RELATION_IN = #{relationIn},-->
            <!--</if>-->
            <!--<if test="relationOut != null and relationOut != ''">-->
                <!--RELATION_OUT = #{relationOut},-->
            <!--</if>-->
            <!--<if test="controlMode != null and controlMode != ''">-->
                <!--CONTROL_MODE = #{controlMode},-->
            <!--</if>-->
            <!--<if test="listColumnPriv != null and listColumnPriv != ''">-->
                <!--LIST_COLUMN_PRIV = #{listColumnPriv},-->
            <!--</if>-->
            <!--<if test="fileuploadPriv != null and fileuploadPriv != ''">-->
                <!--FILEUPLOAD_PRIV = #{fileuploadPriv},-->
            <!--</if>-->
            <!--<if test="imguploadPriv != null and imguploadPriv != ''">-->
                <!--IMGUPLOAD_PRIV = #{imguploadPriv}-->
            <!--</if>-->
        <!--</set>-->
        where ID = #{id}
    </update>


    <!-- 修改流程节点坐标 -->
    <update id="updateTopAndLeft" parameterType="com.myoa.model.workflow.FlowProcess">
        update flow_process
        <set>
            <if test="flowId != null and flowId!=''">
                FLOW_ID = #{flowId},
            </if>
            <if test="prcsId != null and prcsId!=''">
                PRCS_ID = #{prcsId},
            </if>
            <if test="prcsName != null and prcsName!=''">
                PRCS_NAME = #{prcsName},
            </if>
            <if test="setLeft != null and setLeft!=''">
                SET_LEFT = #{setLeft},
            </if>
            <if test="setTop != null and setTop!=''">
                SET_TOP = #{setTop},
            </if>
            <if test="prcsTo != null ">
                PRCS_TO = #{prcsTo},
            </if>
        </set>
        where ID = #{id}
    </update>

    <!-- 根据flowId和步骤ID -->
    <select id="findPrcessLine" resultMap="BaseResultMap">
        SELECT PRCS_TO,ID FROM flow_process
        WHERE
        FLOW_ID = #{flowId}
        AND PRCS_ID = #{prcsId}
    </select>

    <!-- 根据id查询连接线-->
    <select id="findLine" resultMap="BaseResultMap">
        SELECT PRCS_TO,PRCS_ID  FROM flow_process
        WHERE
        ID = #{id}
    </select>

    <!-- 我的工作查询流程步骤 -->
    <select id="findProcess" resultMap="BaseResultMap">
        SELECT
        FLOW_ID,PRCS_ID,PRCS_TYPE,PRCS_NAME,SET_LEFT,SET_TOP,FEEDBACK,AUTO_TYPE,USER_FILTER,
        TIME_OUT,TIME_OUT_MODIFY,TIME_OUT_ATTEND,SIGNLOOK,TOP_DEFAULT,USER_LOCK,SYNC_DEAL,SYNC_DEAL_CHECK,TURN_PRIV,
        CHILD_FLOW,GATHER_NODE,ALLOW_BACK,ATTACH_PRIV,AUTO_BASE_USER,REMIND_FLAG,DISP_AIP,TIME_OUT_TYPE,ATTACH_EDIT_PRIV,
        ATTACH_EDIT_PRIV_ONLINE,ATTACH_MACRO_MARK,VIEW_PRIV,SIGN_TYPE,COUNTERSIGN,WORKINGDAYS_TYPE,PRCS_USER,PRCS_ITEM,
        HIDDEN_ITEM,REQUIRED_ITEM,PRCS_DEPT,PRCS_PRIV,PRCS_TO,PLUGIN,PLUGIN_SAVE,PRCS_ITEM_AUTO,PRCS_IN,PRCS_OUT,
        PRCS_IN_SET,PRCS_OUT_SET,AUTO_DEPT,AUTO_USER_OP,AUTO_USER,AUTO_USER_OP_RETURN,AUTO_USER_RETURN,USER_FILTER_PRCS_PRIV,
        USER_FILTER_PRCS_PRIV_OTHER,USER_FILTER_PRCS_DEPT,USER_FILTER_PRCS_DEPT_OTHER,MAIL_TO,MAIL_TO_DEPT,MAIL_TO_PRIV,
        CONDITION_DESC,RELATION_IN,RELATION_OUT,CONTROL_MODE,LIST_COLUMN_PRIV,FILEUPLOAD_PRIV,IMGUPLOAD_PRIV
        FROM
        flow_process a
        WHERE
        FLOW_ID =#{flowId}
        AND
        PRCS_ID = #{prcsId}
    </select>

    <select id="selectPricByFlowId" resultMap="BaseResultMap" parameterType="Integer">
        SELECT *  FROM flow_process WHERE flow_process.FLOW_ID=#{flowId} ORDER BY PRCS_ID ASC
    </select>

    <!-- 根据流程flowId查询所有步骤ID -->
    <select id="selectShowPrcsId" parameterType="Integer" resultType="Integer">
        SELECT PRCS_ID from flow_process where FLOW_ID like #{flowId}
    </select>

    <!-- 根据flowId和步骤ID 查询步骤名字 -->
    <select id="findPrcessName" resultMap="BaseResultMap">
        SELECT PRCS_TO,ID,PRCS_NAME FROM flow_process
        WHERE
        FLOW_ID = #{flowId}
        AND PRCS_ID = #{prcsId}
    </select>

    <delete id="deleteByFlowId" parameterType="java.lang.Integer">
        delete from flow_process
        where FLOW_ID = #{flowId}
    </delete>


    <select id="findProcseePrcsTo" resultMap="BaseResultMap" parameterType="Map">
        SELECT * from flow_process WHERE FLOW_ID = #{flowId}
        AND (PRCS_TO LIKE CONCAT('%,',#{flowPrcs},',%') OR PRCS_TO LIKE CONCAT(#{flowPrcs},',%'))
    </select>

    <select id="findProcseePrcsTo" resultMap="BaseResultMap" parameterType="Map" databaseId="oracle">
        SELECT * from flow_process WHERE FLOW_ID = #{flowId}
        AND (PRCS_TO LIKE CONCAT(CONCAT('%,',#{flowPrcs}),',%') OR PRCS_TO LIKE CONCAT(#{flowPrcs},',%'))
    </select>

    <select id="findPrcsName" resultType="string" parameterType="Map">
                SELECT
            prcs_name
        FROM
            flow_process
        WHERE
            FLOW_ID = (
                SELECT
                    flow_Id
                FROM
                    flow_run
                WHERE
                    RUN_ID = #{runId}
            )
        AND PRCS_ID = #{prcsId}
    </select>

</mapper>