.mustinput{
    color: red;
    height: 26px;
    line-height: 32px;
    margin-left: 5px;
}
.noDatas {margin-top:10px;}
.noDatas_pic {margin-top:20%;}
.noData_out{margin:0 auto;text-align:center;}
.foot_span_show {float: right;color:white;line-height:28px;margin-right: 15px;cursor: pointer}
.head_rig h1 {
    text-align: center;
}
.head_left_pic {
    display: inline-block;
    margin-top: 15px;
    float: left;
    margin-left: 30px;
    width: 22px;
    height:21px;
}
.head_left_pic img{
    width: 22px;
    height:21px;
}
.head_rig {margin-top:5px;}
.head_left h1 {
    color:#333333;
    font-size: 16pt;
    font-family: "微软雅黑";
    height: 100%;
    line-height: 50px;
    margin-left: 7px;
    float: left;
}
.search {
    width: 72px;
    height: 29px;
    margin-top: 13px;
    background: #fff;
}
.search h1 {
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
//background-image:url(../../img/workflow/btn_check_nor_03.png);
//background-repeat:no-repeat;
    margin-left: -107px;
    margin-top: -3px;
}
.cont {
    width: 102%;
    height:94%;
    overflow-y: scroll;
}
.head {
    border-bottom: 1px solid #9E9E9E;
    height:45px;
}
.cont_rig {
    overflow-y: scroll;
    width: 83%;
    height: 94%;
    margin-left:2%;
    margin-right: 5px;
}
.new_excell_pic{
    border-radius: 0;border: none; width: 70px;height: 70px;margin:10px 24px 10px 20px;
}
.head_rig h1 :hover{
    cursor:pointer;
}
.deldel{
    color: #fff;font-size: 12px;float: right;margin-right: 10px;margin-left: 5px;line-height: 28px;cursor: pointer;
}
.footer_span_space{
    color: #fff;font-size: 12px;float: right;margin-right: 10px;line-height: 28px;cursor: pointer;
}
.foot_span_show{
    margin-left:9px;
}
.edit{
    color: #fff;font-size: 12px;float: right;margin-right: 10px;margin-left: 5px;line-height: 28px;cursor: pointer;
}
.search h1 :hover{
    cursor:pointer;
}
.deldel_img{
    float: right;height: 15px;margin-top: 7px;
}
.edit_img{
    float: right;height: 15px;margin-top: 7px;
}
.deldel_yulan{
    float: right;height: 15px;margin-top: 7px; margin-right:0px; cursor: pointer;margin-left:-4px;
}
.new_excell_footer {
    width: 100%;
    height: 28px;
    position: relative;
    background-color: #59bdf0;
}
.new_excell_head {
    position: relative;
    width: 100%;
    height: 30px;
}
.new_excell_name {
    border-left: 4px solid #59bdf0;
    color: #59bdf0;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    font-weight: 700;
    height: 24px;
    margin-left:20px;
}
.new_excell_info {
    width: 100%;
    height: 113px;
    position: relative;
}
.new_excell_center {
    margin-left: 6%;
    margin-top:10px;
}
.new_excell_info_main {
    width: 100%;
    height: 62px;
    position: absolute;

}

.new_excell_info_other {
    position: absolute;
    top: 10px;
    height: 100%;
    margin-left:45px;
    margin-top:10px;
    list-style-type: none;
    left: 20%;
}

.new_excell_main {
    width: 300px;
    height: 170px;
    border: 1px solid #ddd;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
}
.new_excell_main:hover {
    border: 2px solid #59bdf0;
}
.new_excell_info_mian_pic {
    float:left;
}
.new_excell {
    width: 295px;
    height: 185px;
    float:left;
    margin-left:18px;
    margin-right:0px;
    margin-top:5px;
}

.new_excell_info_other span {
    margin-left: 10px;
    color:black;
}
.new_excell_info_other li {
    height: 50%;
    line-height: 24px;
    font-size: 20px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.conter{
    width:461px;
    height:800px;
    margin:auto;
}
.f_field_title {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    line-height: 41px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: right;
}
.f_field_required {
    color: red;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
}
.f_field_ctrl {
    margin-top: 5px;
    margin-left: 2px;
    float:left;
}
select {

    height: 28px;
    padding:5px 0px;
    width: 214px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
.f_field_title {
    font-size: 12px;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
}
.f_field_required {
    color: red;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
}
.f_field_ctrl {
    margin-top: 5px;
    margin-left: 2px;
}
.f_field_ctrl input[type=text]{
    color:#000;
    padding-left: 5px;
    box-sizing: border-box;
}
.f_field_block {
    width: 100%;
    height: 48px;
    margin-top: 54px;
    margin-bottom: 4px;
    display: block;
    text-align: right;
}
.inp{
    width: 214px;
    height: 26px;
    border-radius: 4px;
    background-repeat:no-repeat;
}

.center{
    height:400px !important;
}
.delete_flow,.edit_liucheng{
    cursor: pointer;
}
.layui-layer-title {
    padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
    background-color: #2b7fe0 ;
    border-radius: 2px 2px 0 0;
}
.layui-layer-page .layui-layer-btn {
    padding-top: 10px;
    /*text-align: center;*/
}
.cont_left {
    width: 14%;
    height:95%;
    border-right: 1px solid #000;
    overflow-y: scroll;
}
.cont_left::-webkit-scrollbar{
    width: 4px;
    height: 16px;
    background-color: #f5f5f5;
}

.cont_left::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}


.cont_left::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


.cont_left::-webkit-scrollbar{
    width: 4px;
    height: 16px;
    background-color: #f5f5f5;
}

.cont_left::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
.cont_left::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.cont_rig::-webkit-scrollbar{
    width: 4px;
    height: 16px;
    background-color: #f5f5f5;
}

.cont_rig::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}


.cont_rig::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


.cont_rig::-webkit-scrollbar{
    width: 4px;
    height: 16px;
    background-color: #f5f5f5;
}

.cont_rig::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
.cont_rig::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;}
.drmenu {
    text-align: center;
    margin-top: 26px;
}
.head_mids{
    float: left;
    height: 32px;
    width: 220px;
    margin-top:7px;
    position: relative;
    margin-left: 11%;
}
.head_mids input[type=text]{
    width: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border:1px solid #ddd;
    border-radius: 4px;
    padding-left: 10px;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
}
.head_mids img{
    width: 28px;
    height: 29px;
    position: absolute;
    right: 3px;
    top: 2px;
    cursor: pointer;
}