
.main{
	margin-top: 60px;
}
.head_show{
	padding-left: 10px;
	padding-right: 10px;
}
.content_show{
	padding-left: 10px;
	padding-right: 10px;
}
.filename,.writename,.content{
	color: #333;
}
.fujian{
	margin-top: 30px;
}
