/*邮件*/

.page .page_left .write{
    background: #f7f7f7;
    /*box-shadow: inset 0 0 10px #d6d8dc;*/
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}
.page .page_left .write .d_im{
    background: #30c055;
    border-radius: 4px;
}
.page .page_left .inbox_btn{
    color: #777777;
}
.page .page_left{
    background: #f7f7f7;
    border-right: 1px solid #ccc;
}
.ul_showtwo{
    background: #f3f3f3;
    box-shadow:  0 1px 6px #d6d8dc;
}
.page .page_left .ul_show li a {
    color: #777;
}
.on{
    background-color: #16b23e;
    box-shadow: none;

}
.on>a{
    color: #fff!important;
}
.divUlShow{
    background: #f3f3f3;
}
.page .page_left .ul_show li:not(.on):hover{
    background-color: #ceffdb;
}
.page .page_left .setUp{
    background-color: #30c055;
}
/*.head .one{*/
    /*background:#dd2e2c ;*/
/*}*/
.main_left .BTN:hover{
    background: #eafff1;
}
.backing{
    background: #ceffdb;
}
.up_page_right .up_header{
    border-color: #ccc;
}
.main .main_left{
    border-right: #ceffdb 1px solid;;
}
.page .page_left .setUp a.aSeting:hover{
    background-color: #1eac43;
}
.set_up_ul ul li:hover{
    background-color:#1eac43;
}
.page .page_left .write{
    height: 55px;
}
.up_page_right{
    width: 82.8%;
}
/*公告通知*/
/*.head .one,.nav .one{*/
    /*background:#0acb6e ;*/
/*}*/
.center .login .header{
    background:#0acb6e ;
}
.M-box3 .active{
    background:#0acb6e ;
    border:1px solid #0acb6e;
}
.M-box3 a:hover{
    background:#0acb6e ;
}
/*投票*/
.header .select{
    background:#0acb6e ;
}

.head .one{
    background-color: #0acb6e;
}
.switchBtn .on {
    background-color: #0acb6e;
    box-shadow: inset 0 0 10px #d6d8dc;
}
/*工作日志*/
.diary-user-name {
    background:#0acb6e ;
}
/*.modular_info h3{*/
/*color:#0acb6e;*/
/*}*/
.calendar .calendar-views .now,#query,#outport{
    background:#0acb6e !important;
}
.writeLog,.Query,.change,.news.active span{
    background:#0acb6e ;
}
/*个人文件柜*/
.layui-layer-title{
    background:#0acb6e!important;
}
.layui-layer-btn .layui-layer-btn0{
    background:#0acb6e!important;
    border-color:#0acb6e!important;
}
/*工作流*/
.btn-primary{
    background:#0acb6e ;
    border:1px solid #0acb6e ;
}
.view .on,.title_on,.TableBlock tr th{
    background:#0acb6e ;
}
layui-layer-title p{
    background:#0acb6e!important;
}

.page .page_left .setUp a.aReflresh:hover{
    background-color: #1eac43!important;
}
.btnSpan,.spanNum,.btn_ok,#btnsearch{
    background:#0acb6e ;
}
.headTop ul .headTopLi.active,.operationBtn{
    background:#0acb6e ;
}
.headTop ul .headTopLi:hover{
    background:#0acb6e ;
}
.operationBtn:hover{
    background:#0acb6e ;
}
/*行政办公新闻管理新闻查询*/
.total .query_title{
    background-color: #0acb6e;
}

/*组织*/
.tab_ctwo{
    background-color: #e8fcf0;
}

.new_excell_footer{
    background-color: #0acb6e;
}
.new_excell_main:hover{
    border: 2px solid #0acb6e;
}
.btn_sps{
    background: #0acb6e;
    border-radius: 3px;
    border: 1px solid #0acb6e;
}

.new_liucheng{
    background: #0acb6e!important;
}
.power_bg{
    background-color: #0acb6e;
}

.new_excell_name{
    border-left: 4px solid #0acb6e;
}
.new_excell_name{
    color: #0acb6e;
}
.newsBtn{
    background: #0acb6e!important;
}
.one {
    background: #0acb6e!important;
    border-radius: 3px;
}
.two{
    border-radius: 3px;
    background: #0acb6e!important;
}

.newChildFolder{
    background: #0acb6e!important;
    border-radius: 3px;
}
.seeClass{
    background: #0acb6e!important;
    width: 100px;
    margin-right: 30px;
    border-radius: 3px;
}
.newClass{
    background: #0acb6e!important;
    border-radius: 3px;
}
.newtory{
    background: #0acb6e!important;
    border-radius: 3px;
    color: #fff;
    padding: 6px;
    padding-left: 30px;
}
.TableHeader{
    background: #e0fff0;
}
.tableDl dl{
    border-top: 4px solid #0acb6e;
}
.tableDl dl dt{
    background: #eafff1;
}

.newLeave{
    background: #0acb6e!important;
    border-radius: 3px;
}
.batchDelete{
    background: #0acb6e!important;
    border-radius: 3px;
}

.newActivity{
    background: #0acb6e!important;
    border-radius: 3px;
}
.new_xinjiano{
    background: #0acb6e!important;
    border-radius: 3px;
}

/*系统管理*/
#formSub .file{
    background:#0acb6e;
    color:#fff;
}
.delete_data ,.btnTheme {
    background: #0acb6e!important;
}
.TableBlock .chuan{
    background: #0acb6e!important;
}
.head_rig .new_dept,.nav_box .head_rig .new_dept{
    background-color: #0acb6e!important;
}
.newBtn,#newClass{
    background: #0acb6e!important;
}
.BigButton{
    background: #0acb6e;
    color:#fff;
}

.formfile{
    background: #0acb6e!important;
    border-radius: 3px;
}

.head-top ul .head-top-li.active {
    background: #0acb6e;
    color: #fff;
}


.query .header{
    background: #0acb6e;
}
.btnsava {
    padding: 5px 15px;
    border-radius: 4px;
    background: #0acb6e!important;
    color: #fff;
}
.btnarrs {
    padding: 5px 15px;
    background: #0acb6e!important;
    color: #fff!important;
    border-radius: 4px;
    margin-left: 5px;
}