<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myoa.dao.supervision.SupervisionApplyMapper" >
  <resultMap id="BaseResultMap" type="com.myoa.model.supervision.SupervisionApply" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="creater_id" property="createrId" jdbcType="VARCHAR" />
    <result column="sup_id" property="supId" jdbcType="INTEGER" />
    <result column="leader_id" property="leaderId" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="UserResultMap" type="com.myoa.model.supervision.SupervisionApply" extends="BaseResultMap">
      <result column="UID" property="uid" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
      <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
      <result column="USER_PRIV_NAME" property="userPrivName" jdbcType="VARCHAR" />
      <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
      <result column="DEPT_ID" property="deptId" jdbcType="INTEGER" />
      <result column="type_name" property="typeName" jdbcType="VARCHAR" />


    <result column="manager_id" property="managerId" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="real_end_time" property="realEndTime" jdbcType="TIMESTAMP" />
    <result column="sup_name" property="supName" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="manager_Name" property="managerName"  />
  </resultMap>

  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    sid, status, content, type, create_time, reason, creater_id, sup_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myoa.model.supervision.SupervisionApplyExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from supervision_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from supervision_apply
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from supervision_apply
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myoa.model.supervision.SupervisionApplyExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from supervision_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myoa.model.supervision.SupervisionApply" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into supervision_apply (sid, status, content, 
      type, create_time, reason, 
      creater_id, sup_id)
    values (#{sid}, #{status}, #{content}, 
      #{type}, #{createTime}, #{reason}, 
      #{createrId}, #{supId})
  </insert>
  <insert id="insertSelective" parameterType="com.myoa.model.supervision.SupervisionApply" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into supervision_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="createrId != null" >
        creater_id,
      </if>
      <if test="supId != null" >
        sup_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=INTEGER},
      </if>
      <if test="supId != null" >
        #{supId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myoa.model.supervision.SupervisionApplyExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select count(*) from supervision_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update supervision_apply
    <set >
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.createrId != null" >
        creater_id = #{record.createrId,jdbcType=INTEGER},
      </if>
      <if test="record.supId != null" >
        sup_id = #{record.supId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update supervision_apply
    set sid = #{record.sid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      reason = #{record.reason,jdbcType=VARCHAR},
      creater_id = #{record.createrId,jdbcType=INTEGER},
      sup_id = #{record.supId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myoa.model.supervision.SupervisionApply" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update supervision_apply
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        creater_id = #{createrId,jdbcType=INTEGER},
      </if>
      <if test="supId != null" >
        sup_id = #{supId,jdbcType=INTEGER},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myoa.model.supervision.SupervisionApply" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update supervision_apply
    set status = #{status,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      reason = #{reason,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=INTEGER},
      sup_id = #{supId,jdbcType=INTEGER}
    where sid = #{sid,jdbcType=INTEGER}
  </update>

  <select id="getStatusInfor" resultMap="BaseResultMap" parameterType="com.myoa.model.supervision.SupervisionApply" >
      SELECT
      sa.sid, sa.status, sa.content, 
      sa.`type`, sa.create_time, sa.reason,
      u.user_name as creater_id,sa.sup_id,
      if(s.leader_id=#{createrId},1,0) as leader_id
    FROM
    supervision_apply  sa,user  u,supervision s
    where  1=1  and  u.user_id=sa.creater_id and s.sid=sa.sup_id
    <if test="createrId==null">
    and  1=2
    </if>
     <if test="createrId!=null">
    and   (sa.creater_id=#{createrId} or s.manager_id=#{createrId} or  (s.USER_ID LIKE concat('%,',#{createrId},',%') OR s.USER_ID LIKE concat(#{createrId},',%')) or s.leader_id=#{createrId})
    </if>
      <if test="supId!=null">
    and  sa.sup_id=#{supId}
    </if>
      <if test="type!=1">
    and  type=#{type}
    </if>
    <if test="type==1">
      and  type  in  (1,2)
    </if>
  </select>
  <select id="getStatusInfor" resultMap="BaseResultMap" parameterType="com.myoa.model.supervision.SupervisionApply" databaseId="oracle" >
    SELECT
    sa.sid, sa.status, sa.content,
    sa.type, sa.create_time, sa.reason,
    u.user_name as creater_id,sa.sup_id,
    CASE
    WHEN s.leader_id=#{createrId} THEN
    1
    ELSE
    0
    END as leader_id
    FROM
    SUPERVISION_APPLY  sa,"USER"  u,SUPERVISION s
    where  1=1  and  u.user_id=sa.creater_id and s.sid=sa.sup_id
    <if test="createrId==null">
      and  1=2
    </if>
    <if test="createrId!=null">
      and   (sa.creater_id=#{createrId} or s.manager_id=#{createrId} or  (s.USER_ID LIKE concat(CONCAT('%,', #{createrId}), ',%') OR s.USER_ID LIKE concat(#{createrId},',%')) or s.leader_id=#{createrId})
    </if>
    <if test="supId!=null">
      and  sa.sup_id=#{supId}
    </if>
    <if test="type!=1">
      and  type=#{type}
    </if>
    <if test="type==1">
      and  type  in  (1,2)
    </if>
  </select>
  <select id="getStatusInfor" resultMap="BaseResultMap" parameterType="com.myoa.model.supervision.SupervisionApply" databaseId="dm" >
    SELECT
    sa.sid, sa.status, sa.content,
    sa.type, sa.create_time, sa.reason,
    u.user_name as creater_id,sa.sup_id,
    CASE
    WHEN s.leader_id=#{createrId} THEN
    1
    ELSE
    0
    END as leader_id
    FROM
    SUPERVISION_APPLY  sa,"USER"  u,SUPERVISION s
    where  1=1  and  u.user_id=sa.creater_id and s.sid=sa.sup_id
    <if test="createrId==null">
      and  1=2
    </if>
    <if test="createrId!=null">
      and   (sa.creater_id=#{createrId} or s.manager_id=#{createrId} or  (s.USER_ID LIKE concat(CONCAT('%,', #{createrId}), ',%') OR s.USER_ID LIKE concat(#{createrId},',%')) or s.leader_id=#{createrId})
    </if>
    <if test="supId!=null">
      and  sa.sup_id=#{supId}
    </if>
    <if test="type!=1">
      and  type=#{type}
    </if>
    <if test="type==1">
      and  type  in  (1,2)
    </if>
  </select>

  <insert id="addSupervisionApply" parameterType="com.myoa.model.supervision.SupervisionApply">
    insert into supervision_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="createrId != null" >
        creater_id,
      </if>
      <if test="supId != null" >
        sup_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="status != null" >
        #{status},
      </if>
      <if test="content != null" >
        #{content},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="reason != null" >
        #{reason},
      </if>
      <if test="createrId != null" >
        #{createrId},
      </if>
      <if test="supId != null" >
        #{supId},
      </if>
    </trim>
   <!--  <where>
      <if test="sid!=null and sid!=''">
        and sid=#{sid}
      </if>
      <if test="status!=null and status!=''">
        and status=#{status}
      </if>
      <if test="supId!=null and supId!=''">
        and sup_id=#{supId}
      </if>
    </where> -->
  </insert>
  <insert id="addSupervisionApply" parameterType="com.myoa.model.supervision.SupervisionApply" useGeneratedKeys="true" keyProperty="sid" databaseId="oracle">
    <selectKey order="BEFORE" keyProperty="sid" resultType="int">
      SELECT SUPERVISION_APPLY_SID_SEQ.nextval as sid from dual
    </selectKey>
    insert into SUPERVISION_APPLY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      sid,
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="createrId != null" >
        creater_id,
      </if>
      <if test="supId != null" >
        sup_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{sid},
      <if test="status != null" >
        #{status},
      </if>
      <if test="content != null" >
        #{content},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="createTime != null" >
        to_date(#{createTime,jdbcType=TIMESTAMP},'yyyy-mm-dd hh24:mi:ss'),
      </if>
      <if test="reason != null" >
        #{reason},
      </if>
      <if test="createrId != null" >
        #{createrId},
      </if>
      <if test="supId != null" >
        #{supId},
      </if>
    </trim>
    <!--  <where>
       <if test="sid!=null and sid!=''">
         and sid=#{sid}
       </if>
       <if test="status!=null and status!=''">
         and status=#{status}
       </if>
       <if test="supId!=null and supId!=''">
         and sup_id=#{supId}
       </if>
     </where> -->
  </insert>
  <insert id="addSupervisionApply" parameterType="com.myoa.model.supervision.SupervisionApply" useGeneratedKeys="true" keyProperty="sid" databaseId="dm">
    <selectKey order="BEFORE" keyProperty="sid" resultType="int">
      SELECT SUPERVISION_APPLY_SID_SEQ.nextval as sid from dual
    </selectKey>
    insert into SUPERVISION_APPLY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      sid,
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="createrId != null" >
        creater_id,
      </if>
      <if test="supId != null" >
        sup_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{sid},
      <if test="status != null" >
        #{status},
      </if>
      <if test="content != null" >
        #{content},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="createTime != null" >
        to_date(#{createTime,jdbcType=TIMESTAMP},'yyyy-mm-dd hh24:mi:ss'),
      </if>
      <if test="reason != null" >
        #{reason},
      </if>
      <if test="createrId != null" >
        #{createrId},
      </if>
      <if test="supId != null" >
        #{supId},
      </if>
    </trim>
    <!--  <where>
       <if test="sid!=null and sid!=''">
         and sid=#{sid}
       </if>
       <if test="status!=null and status!=''">
         and status=#{status}
       </if>
       <if test="supId!=null and supId!=''">
         and sup_id=#{supId}
       </if>
     </where> -->
  </insert>

  <update id="updateStatus"  parameterType="com.myoa.model.supervision.SupervisionApply">
    update supervision_apply
    <set >
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="reason != null" >
        reason = #{reason},
      </if>
    </set>
    <where>
      <if test="sid!=null and sid!=''">
        and sid=#{sid}
      </if>
    </where>
  </update>
</mapper>