body{
    font-family: "微软雅黑";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#ullist{
    list-style: none;
}
.content{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.one_all{
    height: 40px !important;
    width: 100% !important;
    border-left: none !important;
    border-right: none !important;
    margin-left: 30px;
    line-height: 40px;
    font-size: 14px;
}
.tablediv{
    width: 100%;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #f5f7f8;
}
#ulist,#personbox,#securitbox{
    background-color: #e8f4fc;
}
.tablediv:hover{
    background: #ccebff;
}
.tablespan{
    padding: 8px;
    display: block;
    cursor: pointer;
    font-size: 14px;
}
.tablespan img{
    margin-right: 5px;
    margin-left: 22%;
    float: left;
    margin-top: -1px;
    width: 16px;
}
.tablespan:hover{
    background: #ccebff;
}
.content .left .collect .divUP {
    width: 100%;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
    border-bottom:0px solid #ddd;
}
/*.one_all{
    background: #f5f7f8 !important;
}*/
.tab_cone li .one_all:hover{
    background: #add2f8 !important;
}
/*一级菜单移入移出样式的改变*/
.one_all li:hover{
    background:#ccebff;
    cursor:pointer;
}
.one_all li:hover h1{
    color:#2f8ae3;
}
.one_all img{
    margin-top: -5px;
    vertical-align: middle;
    width: 16px;
    margin-right: 7px;
}